In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [2]:
df = pd.read_csv(r'C:\Users\Adarsh Raj Nandini\Desktop\train (1).csv')

In [3]:
df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [4]:
df.info

<bound method DataFrame.info of       Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0          1  CA-2017-152156  08/11/2017  11/11/2017    Second Class
1          2  CA-2017-152156  08/11/2017  11/11/2017    Second Class
2          3  CA-2017-138688  12/06/2017  16/06/2017    Second Class
3          4  US-2016-108966  11/10/2016  18/10/2016  Standard Class
4          5  US-2016-108966  11/10/2016  18/10/2016  Standard Class
...      ...             ...         ...         ...             ...
9795    9796  CA-2017-125920  21/05/2017  28/05/2017  Standard Class
9796    9797  CA-2016-128608  12/01/2016  17/01/2016  Standard Class
9797    9798  CA-2016-128608  12/01/2016  17/01/2016  Standard Class
9798    9799  CA-2016-128608  12/01/2016  17/01/2016  Standard Class
9799    9800  CA-2016-128608  12/01/2016  17/01/2016  Standard Class

     Customer ID     Customer Name    Segment        Country             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9795    SH-19975     Sally Hughsby  Corporate  United States          Chicago
9796    CS-12490  Cindy Schnelling  Corporate  United States           Toledo
9797    CS-12490  Cindy Schnelling  Corporate  United States           Toledo
9798    CS-12490  Cindy Schnelling  Corporate  United States           Toledo
9799    CS-12490  Cindy Schnelling  Corporate  United States           Toledo

           State  Postal Code   Region       Product ID         Category  \
0       Kentucky      42420.0    South  FUR-BO-10001798        Furniture
1       Kentucky      42420.0    South  FUR-CH-10000454        Furniture
2     California      90036.0     West  OFF-LA-10000240  Office Supplies
3        Florida      33311.0    South  FUR-TA-10000577        Furniture
4        Florida      33311.0    South  OFF-ST-10000760  Office Supplies
...          ...          ...      ...              ...              ...
9795    Illinois      60610.0  Central  OFF-BI-10003429  Office Supplies
9796        Ohio      43615.0     East  OFF-AR-10001374  Office Supplies
9797        Ohio      43615.0     East  TEC-PH-10004977       Technology
9798        Ohio      43615.0     East  TEC-PH-10000912       Technology
9799        Ohio      43615.0     East  TEC-AC-10000487       Technology

     Sub-Category                                       Product Name     Sales
0       Bookcases                  Bush Somerset Collection Bookcase  261.9600
1          Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400
2          Labels  Self-Adhesive Address Labels for Typewriters b...   14.6200
3          Tables      Bretford CR4500 Series Slim Rectangular Table  957.5775
4         Storage                     Eldon Fold 'N Roll Cart System   22.3680
...           ...                                                ...       ...
9795      Binders  Cardinal HOLDit! Binder Insert Strips,Extra St...    3.7980
9796          Art           BIC Brite Liner Highlighters, Chisel Tip   10.3680
9797       Phones                                        GE 30524EE4  235.1880
9798       Phones           Anker 24W Portable Micro USB Car Charger   26.3760
9799  Accessories                SanDisk Cruzer 4 GB USB Flash Drive   10.3840

[9800 rows x 18 columns]>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [6]:
#description about data
df.describe()

            Row ID   Postal Code         Sales
count  9800.000000   9789.000000   9800.000000
mean   4900.500000  55273.322403    230.769059
std    2829.160653  32041.223413    626.651875
min       1.000000   1040.000000      0.444000
25%    2450.750000  23223.000000     17.248000
50%    4900.500000  58103.000000     54.490000
75%    7350.250000  90008.000000    210.605000
max    9800.000000  99301.000000  22638.480000

In [7]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales'],
      dtype='object')

In [8]:
df.sum()

Row ID                                                    48024900
Order ID         CA-2017-152156CA-2017-152156CA-2017-138688US-2...
Order Date       08/11/201708/11/201712/06/201711/10/201611/10/...
Ship Date        11/11/201711/11/201716/06/201718/10/201618/10/...
Ship Mode        Second ClassSecond ClassSecond ClassStandard C...
Customer ID      CG-12520CG-12520DV-13045SO-20335SO-20335BH-117...
Customer Name    Claire GuteClaire GuteDarrin Van HuffSean O'Do...
Segment          ConsumerConsumerCorporateConsumerConsumerConsu...
Country          United StatesUnited StatesUnited StatesUnited ...
City             HendersonHendersonLos AngelesFort LauderdaleFo...
State            KentuckyKentuckyCaliforniaFloridaFloridaCalifo...
Postal Code                                            541070553.0
Region           SouthSouthWestSouthSouthWestWestWestWestWestWe...
Product ID       FUR-BO-10001798FUR-CH-10000454OFF-LA-10000240F...
Category         FurnitureFurnitureOffice SuppliesFurnitureOffi...
Sub-Category     BookcasesChairsLabelsTablesStorageFurnishingsA...
Product Name     Bush Somerset Collection BookcaseHon Deluxe Fa...
Sales                                                 2261536.7827
dtype: object

In [9]:
df.Category.unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [10]:
df.Category.value_counts()

Office Supplies    5909
Furniture          2078
Technology         1813
Name: Category, dtype: int64

In [11]:
df.Category.value_counts().sum()

9800

In [12]:
df.Region.unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [13]:
df.Region.value_counts().sum()

9800

In [14]:
df.State.unique()

array(['Kentucky', 'California', 'Florida', 'North Carolina',
       'Washington', 'Texas', 'Wisconsin', 'Utah', 'Nebraska',
       'Pennsylvania', 'Illinois', 'Minnesota', 'Michigan', 'Delaware',
       'Indiana', 'New York', 'Arizona', 'Virginia', 'Tennessee',
       'Alabama', 'South Carolina', 'Oregon', 'Colorado', 'Iowa', 'Ohio',
       'Missouri', 'Oklahoma', 'New Mexico', 'Louisiana', 'Connecticut',
       'New Jersey', 'Massachusetts', 'Georgia', 'Nevada', 'Rhode Island',
       'Mississippi', 'Arkansas', 'Montana', 'New Hampshire', 'Maryland',
       'District of Columbia', 'Kansas', 'Vermont', 'Maine',
       'South Dakota', 'Idaho', 'North Dakota', 'Wyoming',
       'West Virginia'], dtype=object)

In [15]:
df.State.value_counts().sum()

9800

In [16]:
df.duplicated().sum()

0

In [17]:
df.corr()

               Row ID  Postal Code     Sales
Row ID       1.000000     0.013645  0.001151
Postal Code  0.013645     1.000000 -0.024067
Sales        0.001151    -0.024067  1.000000

In [18]:
df.cov()

                   Row ID   Postal Code          Sales
Row ID       8.004150e+06  1.236165e+06    2041.042916
Postal Code  1.236165e+06  1.026640e+09 -482201.508080
Sales        2.041043e+03 -4.822015e+05  392692.572239

In [19]:
df.value_counts()

Row ID  Order ID        Order Date  Ship Date   Ship Mode       Customer ID  Customer Name     Segment      Country        City          State         Postal Code  Region   Product ID       Category         Sub-Category  Product Name                                                             Sales
1       CA-2017-152156  08/11/2017  11/11/2017  Second Class    CG-12520     Claire Gute       Consumer     United States  Henderson     Kentucky      42420.0      South    FUR-BO-10001798  Furniture        Bookcases     Bush Somerset Collection Bookcase                                        261.960    1
6532    US-2018-107384  04/12/2018  08/12/2018  Standard Class  TP-21130     Theone Pippenger  Consumer     United States  Rochester     Minnesota     55901.0      Central  OFF-AR-10001315  Office Supplies  Art           Newell 310                                                               8.800      1
6525    CA-2017-129308  07/07/2017  13/07/2017  Standard Class  CC-12100     Chad Cunningham   Home Office  United States  Philadelphia  Pennsylvania  19120.0      East     TEC-PH-10002310  Technology       Phones        Panasonic KX T7731-B Digital phone                                       59.994     1
6526    CA-2017-129308  07/07/2017  13/07/2017  Standard Class  CC-12100     Chad Cunningham   Home Office  United States  Philadelphia  Pennsylvania  19120.0      East     OFF-BI-10001525  Office Supplies  Binders       Acco Pressboard Covers with Storage Hooks, 14 7/8" x 11", Executive Red  5.715      1
6527    CA-2017-129308  07/07/2017  13/07/2017  Standard Class  CC-12100     Chad Cunningham   Home Office  United States  Philadelphia  Pennsylvania  19120.0      East     OFF-BI-10001308  Office Supplies  Binders       GBC Standard Plastic Binding Systems' Combs                              9.420      1
                                                                                                                                                                                                                                                                                                                ..
3266    US-2015-126571  11/10/2015  15/10/2015  Standard Class  JF-15565     Jill Fjeld        Consumer     United States  Philadelphia  Pennsylvania  19120.0      East     OFF-ST-10003816  Office Supplies  Storage       Fellowes High-Stak Drawer Files                                          281.904    1
3267    US-2015-126571  11/10/2015  15/10/2015  Standard Class  JF-15565     Jill Fjeld        Consumer     United States  Philadelphia  Pennsylvania  19120.0      East     OFF-EN-10002230  Office Supplies  Envelopes     Airmail Envelopes                                                        201.432    1
3268    CA-2015-143840  22/05/2015  29/05/2015  Standard Class  EH-14185     Evan Henry        Consumer     United States  Decatur       Alabama       35601.0      South    TEC-PH-10002660  Technology       Phones        Nortel Networks T7316 E Nt8 B27                                          135.980    1
3269    CA-2015-143840  22/05/2015  29/05/2015  Standard Class  EH-14185     Evan Henry        Consumer     United States  Decatur       Alabama       35601.0      South    TEC-PH-10003171  Technology       Phones        Plantronics Encore H101 Dual EarpiecesÂ Headset                           44.950     1
9800    CA-2016-128608  12/01/2016  17/01/2016  Standard Class  CS-12490     Cindy Schnelling  Corporate    United States  Toledo        Ohio          43615.0      East     TEC-AC-10000487  Technology       Accessories   SanDisk Cruzer 4 GB USB Flash Drive                                      10.384     1
Length: 9789, dtype: int64

In [ ]:
df.